# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on init
	write /dev/stune/top-app/schedtune.colocate 0
	write /dev/stune/foreground/schedtune.prefer_idle 1
	write /dev/stune/top-app/schedtune.prefer_idle 1
	write /proc/sys/kernel/sched_walt_rotate_big_tasks 0

on property:sys.boot_completed=1

# Set default profile on first boot

exec u:r:magisk:s0 root root -- /init.spectrum.sh

# Enable Spectrum support
setprop spectrum.support 1
# Add kernel name
setprop persist.spectrum.kernel Quantic-Kernel

# Balance (default profile)
on property:persist.spectrum.profile=0
	write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor schedutil
	write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor schedutil
	write /sys/devices/system/cpu/cpufreq/policy7/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu7/cpufreq/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_load 95
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/hispeed_load 80
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/hispeed_load 80
	write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 0
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1785600
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2419200
	write /sys/devices/system/cpu/cpu7/cpufreq/scaling_max_freq 2841600
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/pl 0
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/bit_shift1 3
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/bit_shift1_2 4
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/bit_shift2 10
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/target_load1 25
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/target_load2 75
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/silver_suspend_max_freq 844800
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/gold_suspend_max_freq 825600
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/pl 0
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/bit_shift1 3
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/bit_shift1_2 4
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/bit_shift2 10
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/target_load1 25
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/target_load2 75
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/silver_suspend_max_freq 844800
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/gold_suspend_max_freq 825600
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/pl 0
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/bit_shift1 3
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/bit_shift1_2 4
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/bit_shift2 10
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/target_load1 25
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/target_load2 75
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/silver_suspend_max_freq 844800
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/gold_suspend_max_freq 825600
	write /sys/module/workqueue/parameters/power_efficient Y
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq 1785600
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/hispeed_freq 2419200
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/hispeed_freq 2841600
	
# Performance (based on DrunkSauce Lite)
on property:persist.spectrum.profile=1
	write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor schedutil
	write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor schedutil
	write /sys/devices/system/cpu/cpufreq/policy7/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu7/cpufreq/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_load 80
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/hispeed_load 80
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/hispeed_load 90
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 0
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 0
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 20000
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/up_rate_limit_us 0
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/down_rate_limit_us 20000
	write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 0
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1785600
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2419200
	write /sys/devices/system/cpu/cpu7/cpufreq/scaling_max_freq 2841600
	write /sys/module/cpu_input_boost/parameters/input_boost_freq_lp 1478400
	write /sys/module/cpu_input_boost/parameters/input_boost_freq_hp 1286400
	write /sys/module/cpu_input_boost/parameters/input_boost_freq_gold 1286400
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/pl 0
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/bit_shift1 2
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/bit_shift1_2 2
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/bit_shift2 10
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/target_load1 25
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/target_load2 75
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/silver_suspend_max_freq 844800
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/gold_suspend_max_freq 825600
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/pl 0
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/bit_shift1 2
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/bit_shift1_2 2
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/bit_shift2 10
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/target_load1 25
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/target_load2 75
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/silver_suspend_max_freq 844800
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/gold_suspend_max_freq 825600
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/pl 0
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/bit_shift1 2
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/bit_shift1_2 2
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/bit_shift2 10
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/target_load1 25
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/target_load2 75
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/silver_suspend_max_freq 844800
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/gold_suspend_max_freq 825600
	write /sys/devices/platform/soc/2c00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/devfreq/adrenoboost 0
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq 1785600
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/hispeed_freq 2419200
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/hispeed_freq 2841600

# Battery
on property:persist.spectrum.profile=2
	write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor schedutil
	write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor schedutil
	write /sys/devices/system/cpu/cpufreq/policy7/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu7/cpufreq/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_load 90
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/hispeed_load 90
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/hispeed_load 90
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 10000
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 500
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 10000
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/up_rate_limit_us 500
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/down_rate_limit_us 10000
	write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 0
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1785600
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1804800
	write /sys/devices/system/cpu/cpu7/cpufreq/scaling_max_freq 2534400
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/pl 0
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/bit_shift1 3
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/bit_shift1_2 4
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/bit_shift2 10
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/target_load1 25
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/target_load2 75
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/silver_suspend_max_freq 844800
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/gold_suspend_max_freq 825600
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/pl 0
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/bit_shift1 3
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/bit_shift1_2 4
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/bit_shift2 10
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/target_load1 25
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/target_load2 75
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/silver_suspend_max_freq 844800
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/gold_suspend_max_freq 825600
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/pl 0
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/bit_shift1 3
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/bit_shift1_2 4
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/bit_shift2 10
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/target_load1 25
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/target_load2 75
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/silver_suspend_max_freq 844800
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/gold_suspend_max_freq 825600
	write /sys/module/workqueue/parameters/power_efficient Y
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq 1785600
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/hispeed_freq 2419200
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/hispeed_freq 2841600

# Gaming
on property:persist.spectrum.profile=3
	write /sys/devices/system/cpu/cpufreq/policy0/scaling_governor schedutil
	write /sys/devices/system/cpu/cpufreq/policy4/scaling_governor schedutil
	write /sys/devices/system/cpu/cpufreq/policy7/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu7/cpufreq/scaling_governor schedutil
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_load 80
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/hispeed_load 80
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/hispeed_load 80
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 0
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 0
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 20000
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/up_rate_limit_us 0
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/down_rate_limit_us 20000
	write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 0
	write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1785600
	write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2419200
	write /sys/devices/system/cpu/cpu7/cpufreq/scaling_max_freq 2841600
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/pl 0
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/bit_shift1 2
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/bit_shift1_2 2
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/bit_shift2 10
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/target_load1 25
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/target_load2 75
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/silver_suspend_max_freq 844800
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/gold_suspend_max_freq 825600
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/pl 0
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/bit_shift1 2
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/bit_shift1_2 2
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/bit_shift2 10
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/target_load1 25
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/target_load2 75
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/silver_suspend_max_freq 844800
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/gold_suspend_max_freq 825600
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/pl 0
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/bit_shift1 2
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/bit_shift1_2 2
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/bit_shift2 10
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/target_load1 25
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/target_load2 75
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/silver_suspend_max_freq 844800
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/gold_suspend_max_freq 825600
	write /sys/devices/platform/soc/2c00000.qcom,kgsl-3d0/kgsl/kgsl-3d0/devfreq/adrenoboost 1
	write /sys/module/workqueue/parameters/power_efficient Y
	write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq 1785600
	write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/hispeed_freq 2419200
	write /sys/devices/system/cpu/cpu7/cpufreq/schedutil/hispeed_freq 2841600

